.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding-top: 20px;
}

body {
  margin: 0;
  overflow-y: auto;
}

body {
  padding-top: 60px;
}
